<!DOCTYPE html>
@model List<Proyecto_Bb_2.Models.Registro>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Contactos</title>
</head>
<body>
    <header>
        <h1>Sistema de registro de contactos</h1>
    </header>
    <div>
        <h2>Lista de contactos</h2>
        <div>
            <a asp-action="Crear">Crear</a>
        </div>
    </div>
    <main>
        @foreach(var registro in Model)
        {
            <div>
                <div>
                    <img src="@registro.Foto" alt="Foto de contacto" />
                    <div>
                        <a asp-action="Editar" asp-route-id="@registro.Id">Editar</a>
                        <a asp-action="BorrarC" asp-route-id="@registro.Id">Eliminar</a>
                    </div>
                </div>
                <div>
                    <p>Nombre: <span>@registro.Name</span></p>
                    <p>Edad: <span>@registro.Edad</span></p>
                    <p>
                        Celular: <span>@registro.Celular</span> <a href="https://wa.me/591@(registro.Celular)" target="_blank">Contactar</a></p>
                    <p>Correo: <span>@registro.Correo</span> <a href="mailto:@(registro.Correo)">Contactar</a> </p>
                </div>
            </div>
        }
    </main>
    <footer>
        <p>Todos los derechos reservados. Juan Jose Tito</p>
    </footer>
</body>
</html>
